<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>New folder</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<h1>CAPTCHA</h1>
<h2>Ouvrez la console et tapez "choseQuestion()" ensuite suivez les instructions</h2>

<div id='question'></div>
<div id='result'></div>
<div id='answer'>
  <input type='text' id='txtResult' placeholder="votre résultat en letters" />
</div>


<script src='./script10.js'></script>
</body>
</html>
